<%- include('includes/start.ejs')%>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('includes/sidebar.ejs')%>

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%- include('includes/navbar.ejs')%>

      <div class="container-fluid">
        <h1><%=Error%></h1>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<%- include('includes/end.ejs')%>